
/* Nav Bar */
.bg-color-navbar {
    background-color: #041114;
    color: #dbdbdb;
}

/* Top Container */
#topContainer {
    display:flex;
    justify-content: center;
}

/* Main Container: Right Side */

/* Image */
img {
    width:500px;
}


/* Middle Container */
#middleContainer {
    display:flex;
    justify-content: center;
}